## ADDIDAS ANALISIS

In [2]:
!wget https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx

--2025-09-10 20:52:46--  https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx [following]
--2025-09-10 20:52:46--  https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 693038 (677K) [application/octet-stream]
Saving to: ‘Adidas US Sales Datasets.xlsx’

Adidas US Sales Dat 100%[===================>] 676.79K  --.-KB/s    in 0.06s

2025-09-10 20:52:46 (11.6 MB/s) - ‘Adidas US Sales Datasets.xlsx’ saved [693038/693038]

In [3]:
import pandas as pd
data = pd.read_excel("Adidas US Sales Datasets.xlsx")

In [4]:
data.head(10)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store
5,Foot Locker,1185732,2020-01-06,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25,In-store
6,Foot Locker,1185732,2020-01-07,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50,In-store
7,Foot Locker,1185732,2020-01-08,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30,Outlet
8,Foot Locker,1185732,2020-01-21,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35,Outlet
9,Foot Locker,1185732,2020-01-22,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35,Outlet

0. Cuantas filas y columnas tiene la tabla?

In [5]:
data.shape

(9648, 13)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

0.1 Cual es la unidad de observación de la tabla?

**La unidad de observación son las ventas de Adidas en US**

1. Cuales fueron las ventas totales?

In [6]:
data['Total Sales'].sum()

np.float64(899902125.0)

1.1 Cuanto fue la ganancia operacional total?

In [7]:
data['Operating Profit'].sum()

np.float64(332134761.45000005)

1.2 Cuanto fue el margen promedio total ?

In [8]:
data['Operating Margin'].mean()

np.float64(0.42299129353233833)

1.3 Por que el margen promedio y no el total. Explique con palabras

**Al ser un porcentaje no se debe sumar para sacar un total. Por eso, si se quiere saber cuanto porcentaje de ganancias totales se obtuvo, se debe sacar el promedio**

2. Cuales fueron las ventas totales por Retailer?

In [9]:
data.groupby('Retailer')['Total Sales'].sum()

Retailer
Amazon            77698912.0
Foot Locker      220094720.0
Kohl's           102114753.0
Sports Direct    182470997.0
Walmart           74558410.0
West Gear        242964333.0
Name: Total Sales, dtype: float64

2.1 Cual fue la ganancia operacional total por retailer?

In [10]:
data.groupby('Retailer')['Operating Profit'].sum()

Retailer
Amazon           28818503.31
Foot Locker      80722124.81
Kohl's           36811252.58
Sports Direct    74332954.96
Walmart          25782052.61
West Gear        85667873.18
Name: Operating Profit, dtype: float64

2.3 Tomando los dos resultados de arriba: El ganancia operacional total y las ventas totales divida ambos resultados. Le tiene que dar el margen total de cada Retailer.

In [11]:
data.groupby('Retailer')['Operating Profit'].sum() / data.groupby('Retailer')['Total Sales'].sum()

Retailer
Amazon           0.370900
Foot Locker      0.366761
Kohl's           0.360489
Sports Direct    0.407369
Walmart          0.345797
West Gear        0.352594
dtype: float64

2.4 Cual fue el margen operacional promedio por retailer?

In [12]:
data.groupby('Retailer')['Operating Margin'].mean()

Retailer
Amazon           0.417871
Foot Locker      0.417933
Kohl's           0.419291
Sports Direct    0.444892
Walmart          0.406534
West Gear        0.417856
Name: Operating Margin, dtype: float64

2.5 Por que los dos resultados anteriores le dieron diferente? Argumente

**Porque al obtener el margen promedio, se obtiene el dato de la media, mientras que el margen total, es el dato exacto de el porcentaje de ganancias**

3.1 Retailer que mas unidades totales vende? Saque cuanto vende en unidades cada retailer y busque el mayor

In [13]:
data.groupby('Retailer')['Units Sold'].sum().sort_values(ascending=False).head(6)

Retailer
West Gear        625262
Foot Locker      604369
Sports Direct    557640
Kohl's           287375
Walmart          206225
Amazon           197990
Name: Units Sold, dtype: int64

3.2 Cual fue el producto que mas unidades totales vendió?

In [14]:
data.groupby('Product')['Units Sold'].sum().sort_values(ascending=False).head(6)

Product
Men's Street Footwear        593320
Men's Athletic Footwear      435526
Women's Apparel              433827
Women's Street Footwear      392269
Women's Athletic Footwear    317236
Men's Apparel                306683
Name: Units Sold, dtype: int64

3.3 Cual es el metodo de venta que mas ventas totales tuvo y más ventas promedio

In [15]:
data.groupby('Sales Method')['Total Sales'].sum()

Sales Method
In-store    356643750.0
Online      247672882.0
Outlet      295585493.0
Name: Total Sales, dtype: float64

In [16]:
data.groupby ('Sales Method') ['Total Sales'].mean()

Sales Method
In-store    204967.672414
Online       50659.210882
Outlet       97908.411063
Name: Total Sales, dtype: float64

3.4 Cual Fue el estado que más ventas totales tuvo ?

In [17]:
data.groupby('State')['Total Sales'].sum().sort_values(ascending=False).head(6)

State
New York          64229039.0
California        60174133.0
Florida           59283714.0
Texas             46359746.0
South Carolina    29285637.0
Washington        26330718.0
Name: Total Sales, dtype: float64

4. Teniendo en cuenta los resultados de arriba: 1. Tome el Retailer que vendio
mas 2. El estado que vendio mas 3.el producto que vendio mas y el metodo de ventas que vendio más 4. Filtre y genere un dataframe con ellos 5. llamelo como un nuevo dataframe

In [34]:
top_retailer = data.groupby('Retailer')['Total Sales'].sum().idxmax()
top_state = data.groupby('State')['Total Sales'].sum().idxmax()
top_product = data.groupby('Product')['Units Sold'].sum().idxmax()
top_method = data.groupby('Sales Method')['Total Sales'].sum().idxmax()


nuevo_dataframe = data[
    (data['Retailer'] == top_retailer) &
    (data['State'] == top_state) &
    (data['Product'] == top_product) &
    (data['Sales Method'] == top_method)]

tabla_resumen = pd.DataFrame({
    "Criterio": ["Retailer", "State", "Product", "Sales Method"],
    "Valor": [
        top_retailer,
        top_state,
        top_product,
        top_method,]})

print("Nuevo Dataframe")
display(tabla_resumen)

Nuevo Dataframe

       Criterio                  Valor
0      Retailer              West Gear
1         State               New York
2       Product  Men's Street Footwear
3  Sales Method               In-store